:root
  --white: hsl(0, 0%, 100%)
  --moderate-violet: hsl(263, 55%, 52%)
  --light-moderate-violet: hsl(263, 55%, 72%)
  --very-dark-grayish-blue: hsl(217, 19%, 35%)
  --very-dark-blackish-blue: hsl(219, 29%, 14%)
  --light-gray: hsl(0, 0%, 81%)
  --light-grayish-blue: hsl(210, 46%, 95%)

.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-width: 320px
  min-height: 100vh
  background-color: var(--light-grayish-blue)

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0

.testimonials
  display: grid
  gap: 25px
  width: 100%
  max-width: 20rem
  font-family: 'Barlow Semi Condensed', sans-serif
  line-height: 1.45em
  font-weight: 500
  grid-template-columns: repeat(1, 1fr)
  grid-auto-rows: minmax(200px, auto)

  @media screen and (min-width: 767px)
    max-width: 72rem
    grid-template-columns: repeat(4, 1fr)

  @media screen and (min-width: 1023px)
    max-width: 84rem

  .testimonial__article
    padding-top: 25px
    padding-bottom: 25px
    padding-left: 42px
    padding-right: 42px
    border-radius: 8px
    box-shadow: 0 12px 12px -3px var(--light-gray)

    @media screen and (min-width: 1280px)
      max-height: 700px

    &--grid
      &-item-one
        grid-column: 1 / span 3
        grid-row: 1

        @media screen and (min-width: 767px)
          grid-column: 1 / span 2
          grid-row: 1

      &-item-two
        grid-column: 1 / span 3
        grid-row: 2

        @media screen and (min-width: 767px)
          grid-column: 3 / span 1 
          grid-row: 1

      &-item-three
        grid-column: 1 / span 3
        grid-row: 3

        @media screen and (min-width: 767px)
          grid-column: 1 / span 1
          grid-row: 2

      &-item-four
        grid-column: 1 / span 3
        grid-row: 4

        @media screen and (min-width: 767px)
          grid-column: 2 / span 2
          grid-row: 2
      
      &-item-five
        grid-column: 1 / span 3
        grid-row: 5

        @media screen and (min-width: 767px)
          grid-column: 4 / span 1
          grid-row: span 2

    &--theme
      &-violet
        color: var(--white)
        background-color: var(--moderate-violet)
        background-image: url('./images/bg-pattern-quotation.svg')
        background-position: 77% 0%
        background-repeat: no-repeat

        .profile__img
          border: 2px solid var(--light-moderate-violet)

      &-gray
        color: var(--white)
        background-color: var(--very-dark-grayish-blue)

      &-white
        color: var(--very-dark-blackish-blue)
        background-color: var(--white)

      &-blackish
        color: var(--white)
        background-color: var(--very-dark-blackish-blue)

        .profile__img
          border: 2px solid var(--light-moderate-violet)

    .testimonial__profile
      display: flex
      flex-direction: row

      .profile__graduate
        margin-top: -3px
        opacity: 50%

      .profile__img
        align-self: center
        width: 38px
        height: 38px
        margin-right: 20px
        border-radius: 999px

    .testimonial__headline
      font-size: 1.5rem
      line-height: 1.25em
      margin-top: 15px
      margin-bottom: 15px

    .testimonial__quote
      opacity: 70%
